asgiref==3.3.0
Django==3.0.5
django-cors-headers==3.5.0
django-rest-auth==0.9.5
django-rest-framework-mongoengine==3.4.1
djangorestframework==3.12.1
djangorestframework-jwt==1.11.0
PyJWT==1.7.1
pytz==2020.1
six==1.15.0
sqlparse==0.4.1
